{%  extends "SpiralationStylesBundle:basic:basic.html.twig" %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{{asset('bundles/spiralationstyles/slider/engine1/style.css')}}" />
<script type="text/javascript" src="{{asset('bundles/spiralationstyles/slider/engine1/jquery.js')}}"></script>
{% endblock %}
{% block dashboard %}
{% endblock %}
{% block navigation %}
{% endblock %}
{% block content %}
<div class="container-fluid">
		<div class="row-fluid">
<div id="content" class="span12">
			<!-- content starts -->
			<div id="wowslider-container1">
	<div class="ws_images"><ul>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/1.png')}}" id="wows1_0"/></li>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/2.png')}}"  id="wows1_1"/></li>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/3.png')}}" id="wows1_2"/></li>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/4.png')}}"   id="wows1_3"/></li>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/5.png')}}"   id="wows1_4"/></li>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/6.png')}}" id="wows1_5"/></li>
<li><img src="{{asset('bundles/spiralationstyles/slider/data1/images/7.png')}}"  id="wows1_6"/></li>
</ul></div>
<div class="ws_bullets"><div>
<a href="#" title="help others"><img src="data1/tooltips/1.png"/>1</a>
<a href="#" title="Lot of Joy!"><img src="data1/tooltips/2.png" />2</a>
<a href="#" title="Build Friendship"><img src="data1/tooltips/3.png" />3</a>
<a href="#" title="change the world"><img src="data1/tooltips/4.png" />4</a>
<a href="#" title="become a volunteer"><img src="data1/tooltips/5.png" "/>5</a>
<a href="#" title="share and care"><img src="data1/tooltips/6.png" />6</a>
<a href="#" title="Happy Always"><img src="data1/tooltips/7.png" />7</a>
</div></div>
<span class="wsl"><a href="http://wowslider.com">HTML Picture Slideshow</a> by WOWSlider.com v5.2</span>
	<div class="ws_shadow"></div>
	</div>
			
                            
                         <div class="row-fluid sortable">
				<div class="box span2">
					<div class="box-header well">
						<h2> Environment</h2>
						
					</div>
					<div class="box-content">
                                            <ul class="dashboard-list">
                                                {% for i in environment %}
								<li>
                                                                    <p align="center">
									<a href="#">
										<img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
										<strong><a href="#">{{i.name}}</a></strong> 
                                                                                <br><br>
									 <span class="label label-warning">{{i.rating}}</span>         
                                                                    </p>
								</li>
								
								{% endfor %}
							</ul>
						</div>
						</div>
                             
                             
                             <div class="box span2">
					<div class="box-header well">
						<h2> Health</h2>
						
					</div>
					<div class="box-content">
                                            <ul class="dashboard-list">
								      {% for i in health %}
								<li>
                                                                    <p align="center">
									<a href="#">
										<img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
										<strong><a href="#">{{i.name}}</a></strong> 
                                                                                <br><br>
									 <span class="label label-warning">{{i.rating}}</span>         
                                                                    </p>
								</li>
								
								{% endfor %}
							</ul>
						</div>
						</div>
                             
                             <div class="box span2">
					<div class="box-header well">
						<h2> Poverty</h2>
						
					</div>
					<div class="box-content">
                                            <ul class="dashboard-list">
								      {% for i in poverty %}
								<li>
                                                                    <p align="center">
									<a href="#">
										<img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
										<strong><a href="#">{{i.name}}</a></strong> 
                                                                                <br><br>
									 <span class="label label-warning">{{i.rating}}</span>         
                                                                    </p>
								</li>
								
								{% endfor %}
							</ul>
						</div>
						</div>
                             
                             <div class="box span2">
					<div class="box-header well">
						<h2> Education</h2>
						
					</div>
					<div class="box-content">
                                            <ul class="dashboard-list">
								      {% for i in education %}
								<li>
                                                                    <p align="center">
									<a href="#">
										<img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
										<strong><a href="#">{{i.name}}</a></strong> 
                                                                                <br><br>
									 <span class="label label-warning">{{i.rating}}</span>         
                                                                    </p>
								</li>
								
								{% endfor %}
							</ul>
						</div>
						</div>
                             
                             <div class="box span2">
					<div class="box-header well">
						<h2> Disaster Management</h2>
						
					</div>
					<div class="box-content">
                                            <ul class="dashboard-list">
								      {% for i in disaster %}
								<li>
                                                                    <p align="center">
									<a href="#">
										<img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
										<strong><a href="#">{{i.name}}</a></strong> 
                                                                                <br><br>
									 <span class="label label-warning">{{i.rating}}</span>         
                                                                    </p>
								</li>
								
								{% endfor %}
							</ul>
						</div>
						</div>
                             
                             <div class="box span2">
					<div class="box-header well">
						<h2> Human Rights</h2>
						
					</div>
					<div class="box-content">
                                            <ul class="dashboard-list">
								      {% for i in human %}
								<li>
                                                                    <p align="center">
									<a href="#">
										<img class="dashboard-avatar" alt="Usman" src="http://www.gravatar.com/avatar/f0ea51fa1e4fae92608d8affee12f67b.png?s=50"></a>
										<strong><a href="#">{{i.name}}</a></strong> 
                                                                                <br><br>
									 <span class="label label-warning">{{i.rating}}</span>         
                                                                    </p>
								</li>
								
								{% endfor %}
							</ul>
						</div>
						</div>
					</div>
                        
                        
                        <div class="row-fluid sortable">		
				<div class="box span6">
					<div class="box-header well">
						<h2> Upcoming Events</h2>
						
					</div>
					<div class="box-content">
                                            <table class="table table-striped">
							  <thead>
								  <tr>
									  <th>Event</th>
									  <th>Date </th>
									  <th>Details</th>
									  <th>Status</th>                                          
								  </tr>
							  </thead>   
							  <tbody>
                                                              {% if event is defined %}
                                                                    {% for i in event %}
								<tr>
									<td>{{i.name}}</td>
									<td class="center">i.date</td>
									<td class="center">i.details</td>
									<td class="center">
										<span class="label label-success">i.status</span>
									</td>                                       
								</tr>
								
								{% endfor %}
								{% endif %}
								                         
							  </tbody>
						 </table>  
						 <div class="pagination pagination-centered">
						  <ul>
							<li><a href="#">Prev</a></li>
							<li class="active">
							  <a href="#">1</a>
							</li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">Next</a></li>
						  </ul>
						</div>     
                                        </div>
                                    
                                    	
				</div>
                            
                            <div class="box span6">
					<div class="box-header well">
						<h2> Volunteer Stories</h2>
						
					</div>
					<div class="box-content">
                                            <div class="tooltip-demo well">
                                                <table>
                                                    <tr><td>
                                                            <img class="dashboard-avatar pull-left" alt="Saruar Ahmed" src="http://www.gravatar.com/avatar/564e1bb274c074dc4f6823af229d9dbb.png?s=50"></a> <br><img class="dashboard-avatar pull-right" alt="Saruar Ahmed" src="http://www.gravatar.com/avatar/564e1bb274c074dc4f6823af229d9dbb.png?s=50">
                                                    
                                                        </td>
                                                        <td>
								  <p class="muted" style="margin-bottom: 0;">
										Tight pants next level keffiyeh <a href="#" data-rel="tooltip" data-original-title="first tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american appadata-rel <a href="#" data-rel="tooltip" data-original-title="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A <a href="#" data-rel="tooltip" data-original-title="Another one here too">really ironic</a> artisan whatever keytar, scenester farm-to-table banksy Austin <a href="#" data-rel="tooltip" data-original-title="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.
								 
                                                                  </p></td>
                                                                  <tr> </table>
								</div>   
                                        </div>
                                        </div>
                        </div>
                            
                            
                            <!--/span-->
					
			
</div></div>  

{% endblock %}  

{% block javascripts %}
    <script type="text/javascript" src="{{asset('bundles/spiralationstyles/slider/engine1/wowslider.js')}}"></script>
    <script type="text/javascript" src="{{asset('bundles/spiralationstyles/slider/engine1/script.js')}}"></script>
 {% endblock %}