{%  extends "SpiralationStylesBundle:basic:basic.html.twig" %}
{% block dashboard %}
{% endblock %}
{% block content %}

<div class="container-fluid">
		<div class="row-fluid">
                    
			<noscript>
				<div class="alert alert-block span6">
					<h4 class="alert-heading">Warning!</h4>
					<p>You need to have <a href="http://en.wikipedia.org/wiki/JavaScript" target="_blank">JavaScript</a> enabled to use this site.</p>
				</div>
			</noscript>
		
                        <div id="content" class="span4 center">
			<!-- content starts -->
			
                        <div class="row-fluid">
                            <div class="box span12">
                                
					<div class="box-header well">
                                            
						<h2><i class="icon-user"></i> Register Organization</h2>
						
					</div>
                                <div class="box-content ">
                                    
                          
                                    <br><br>

                    {{ form_start(form) }}
                    
                    <div class="control-group primary">
      {{form_label(form.name, 'First Name',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.name)}}
                               <span class="help-inline">{{ form_errors(form.name) }}</span>
                       </div></div>
                                    
                                     <div class="control-group primary">
      {{form_label(form.details, 'Last Name',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.details)}}
                               <span class="help-inline">{{ form_errors(form.details) }}</span>
                       </div></div>
                                    
                                <div class="control-group primary">
      {{form_label(form.email, 'Email',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.email)}}
                               <span class="help-inline">{{ form_errors(form.email) }}</span>
                       </div></div>
                                   
                                     <div class="control-group primary">
      {{form_label(form.city, 'City',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.city)}}
                               <span class="help-inline">{{ form_errors(form.city) }}</span>
                       </div></div>
                                    
                                     <div class="control-group primary">
      {{form_label(form.phone, 'Phone Number',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.phone)}}
                               <span class="help-inline">{{ form_errors(form.phone) }}</span>
                       </div></div>
                                    
                                    <div class="control-group primary">
      {{form_label(form.type, 'Profession',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.type)}}
                               <span class="help-inline">{{ form_errors(form.type) }}</span>
                       </div></div>
                                    
                                   
                               
                                    
                                    
                                    
                                 
                        {{form_widget(form.followers,{'type':'hidden'})}}          
                       
                        {{form_widget(form.rating,{'type':'hidden'})}}      
                                    
                                    {{form_widget(form.projects,{'type':'hidden'})}}     
                            
                          
                                            <div class="control-group primary">
      {{form_label(form.password, 'Password',{ 'label_attr': {'class': 'control-label'} })}}
                        
                        <div class="controls">
                        {{form_widget(form.password,{'type':'password'})}}
                               <span class="help-inline">{{ form_errors(form.password) }}</span>
                       </div></div>
                                
                              <div class="control-group primary">         
      {{form_label(form.type, ' ',{ 'label_attr': {'class': 'control-label'} })}}   
                        <div class="controls">
                        {{form_widget(form.submit,{'attr':{'class':'btn btn-success span4'}})}}                           
                       </div></div>
                                    
                                    
{{ form_end(form) }}
                    
                      
           </div>
        </div>
    </div>
</div>

{% endblock %}